<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="http://templates_service:5003/static/style_artigow.css">
</head>
<body>
    <h1>Artigow</h1>
    <nav>
        <!--a href="{{ url_for('main.welcome') }}">Inicio</a-->
        <a href="http://posts_service:5004/posts/list">Ver lista de publicaciones</a>
        <a href="http://posts_service:5004/posts/new_post">Crear nueva publicación</a>
        <!-- a href="{{ url_for('votes.ranking') }}">Ranking posts</a-->
    </nav>
    <h2>Login</h2>
    <form method="POST" action="http://localhost:5000/auth/login">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="http://localhost:5000/auth/register">Register</a></p>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>