[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-cors = "*"
flask-login = "*"
bcrypt = "*"
pillow = "*"
flask-mail = "*"

[dev-packages]
pytest = "*"
flask-testing = "*"

[requires]
python_version = "3.12"
