<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigow</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_artigow.css') }}">
</head>
<body>
    <h1>Artigow</h1>
    <nav class="username">
        {% if current_user.is_authenticated %}
            <a>{{ current_user.username }}</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
    </nav>
    <nav>
        <a href="{{ url_for('main.welcome') }}">Ir a página de inicio</a>
        <a href="{{ url_for('posts.list_posts') }}">Ver lista de publicaciones</a>
        <a href="{{ url_for('posts.new_post') }}">Crear nueva publicación</a>
    </nav>
    <h2>Ranking de votaciones</h2>
    
    {% if order_posts %}
        <ul>
            {% for post in order_posts %}
                <li>
                    <p><strong>{{ post.title }}</strong> - Usuario: {{ post.user_name }} - {{ post.content }} - Fecha de publicación: {{ post.date_posted }}</p>
                    <p><strong>Votos:</strong> {{ post.votes | length }}</p> <!-- Muestra el número de votos -->
                    <form method="post" action="{{ url_for('posts.show_post', post_id=post.id) }}">
    					<button type="submit">Ver Post</button>
					</form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay votaciones.</p>
    {% endif %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>
