<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la publicación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_artigow.css') }}">
</head>
<body>
    <h1>Artigow</h1>
    <nav>
        <a href="{{ url_for('main.welcome') }}">Ir a página de inicio</a>
        <a href="{{ url_for('main.new_post') }}">Crear nueva publicación</a>
        <a href="{{ url_for('main.ranking') }}">Ranking posts</a>
        <a href="{{ url_for('main.list_posts') }}">Ver lista de publicaciones</a>
    </nav>

    <h2>{{ post.title }}</h2>
    <h3>Usuario ID: {{ post.user_id }}</h3>
    <p>{{ post.content }}</p>
    
    {% if post.image_url %}
        <p><img src="{{ url_for('static', filename=post.image_url) }}" alt="Imagen de la publicación" width="200"></p>
    {% else %}
        <p>No hay imagen</p>
    {% endif %}
    
    <p><strong>Fecha de publicación:</strong> {{ post.date_posted }}</p>
    <p><strong>URL de la imagen:</strong> {{ post.image_url }}</p>
    
    <form method="post" action="{{ url_for('main.vote_post', post_id=post.id) }}">
        <button type="submit">Votar</button>
    </form>

    <br>
</body>
</html>
